@use '../variables' as *;

.weather-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .weather-overlay {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; // Centre l'icône et la température
        align-items: center;
        padding: 15px;
        text-align: center;

        #temp-display {
            font-size: 2.2rem; // Force la taille du 16°C
            font-weight: 700;
            color: $white;
        }

        #city-input {
            margin-top: auto; // Pousse l'input vers le bas
            padding-top: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            
            &::placeholder {
                color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}