// 1. Core
@use 'variables' as *;
@use 'mixins' as *;

// 2. Base & Typography
@use 'typography';
@use 'layout';

// 3. Components
@use 'components/card';
@use 'components/forms';
@use 'components/dropdown'; // <--- IMPORT CRITIQUE : Pilote l'affichage fermé/ouvert

// 4. Widgets
@use 'palette'; 
@use 'components/lorem';
@use 'components/notes';
@use 'components/px-rem';
@use 'components/roadmap';
@use 'components/session';
@use 'components/weather';
@use 'components/w-projets';
@use 'components/w-veille';
@use 'components/fonts-tester';
@use 'components/lab';           // Ton Playground CSS actuel
@use 'components/codepen';       // <--- AJOUT : Ton nouvel éditeur HTML/CSS/JS

// Style global témoin
.dot-online {
    color: #2ecc71 !important;
    text-shadow: 0 0 10px rgba(46, 204, 113, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover { 
        text-shadow: 0 0 15px rgba(46, 204, 113, 0.8); 
    }
}

.dot-offline {
    color: #e74c3c !important;
    text-shadow: 0 0 10px rgba(231, 76, 60, 0.5);
}